.header {
  height: 95vh;
  background-color: #F9B5B4;;
  background-size: cover;
  background-position: top;
  /* position: relative; */
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 45vh, 0 87%);
  clip-path: polygon(0 1%, 100% 0, 100% 45vh, 0 87%);
  }



.header-text{
  line-height: 4rem;
  z-index: 3;
}
.navbar-brand{
  z-index: 3;
}

.nav-item-css {
  margin-right: 1.5rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 14px;
  z-index: 3;

}


.nav-link-css {
  font-weight: 500;
  color: #fff !important;
  border-radius: 5px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 3;

}


.nav-link-css:hover {
  color:#000 !important;
}


/* Header */


.header{
  margin: 1rem;
  
}


@media only screen and (max-width: 1200px) {

}


@media only screen and (max-width: 992px) {
  .jumbotron-header {
    font-size: 45px;
  }
  .jumbotron-btn {
    font-size: 20px !important;
  }
  .download-bg {
    padding: 70px 120px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-link-css{
    color: #000 !important;
  }

  .nav-logo {
    font-size: 25px;
  }
  .jumbotron-header {
    font-size: 2rem;
  }
  .jumbotron-text {
    font-size: 16px;

  }
}

@media only screen and (max-width: 576px) {
  .jumbotron-btn {
    font-size: 16px !important;
  }

  }